/*
    Chillout Music Community Theme
    For use in: https://plug.dj/the-chillout-room


    Copyright 2016 ChilloutMusic (http://chilloutmusic.fm/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/


@import url("https://chilloutmusica.github.io/cm/src/users.css");
@import url("https://chilloutmusica.github.io/cm/src/rdjs.css");

body {
    background-size: 100% auto !important;
    background-attachment: fixed 0px 0px !important;
}

#room-bar .icon-room {
    background: url(https://chilloutmusica.github.io/cm/src/images/cm.png);
}

#playback-container {
    background-image: url();
    background-position: center;
    background-size: 100% auto;
}

#chat .message:nth-child(2n+1) #chat .mention:nth-child(2n+1) #chat .skip:nth-child(2n+1) #chat .moderation:nth-child(2n+1) #chat .emote:nth-child(2n+1) #chat .update:nth-child(2n+1) #chat .welcome:nth-child(2n+1) {
    background-color: rgba(17 19 23 0.32);
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
    animation: fadein 0.25s;
    background-color: #111317;
    border-radius: 0px;
    background-color: rgba(17 19 23 0.5);
}

#chat #chat-input {
    background: rgba(80 80 80 0.25);
}

.icon-chat-host > span {
    color: #FF3558 !important;
}

#playlist-panel {
    opacity: .85;
}

#footer {
    background-color: rgba(30 30 36 1) !important;
}

#playback-controls .button.snooze {
    background: #00afe4 !important;
    opacity: .7;
}

#playlist-button {
    background: #FF3558 !important;
}

#playlist-menu .menu .row.selected {
    background: #39688D !important;
}

.media-list .row.now-playing {
    background: #FF3558 !important;
    border-bottom: 1px solid #ff5f7c !important;
}

#playlist-menu .menu .row .count {
    color: #FF3558 !important;
}

#grab .bottom #grab.selected {
    background: #00afe4 !important;
}

#footer-user .bar .progress {
    background: #FF3558 !important;
}

.experience .xp .bar .progress {
    background: #FF3558 !important;
}

.activate-button span {
    color: #FFFFFF !important;
}

#playlist-activate-button {
    background: none !important;
}

#playlist-activate-button span {
    color: #FF3558 !important;
}

.media-list .row.now-playing .actions {
    background: #FF3558 !important;
}

.media-list .row.selected {
    background: #39688D !important;
}

.media-list .selected .actions {
    background: #FF3558 !important;
}

#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #FF3558 !important;
}

.dialog.destructive .button.submit {
}

#room-info .button.disabled {
    background: #FF3558 !important;
}

#room-info .button.enabled {
    background: #00afe4 !important;
}

#playlist-create:hover {
    background: #0191ff !important;
}

#playlist-import:hover {
    background: #0191ff !important;
}

#playlist-edit-button:hover {
    background: #0191ff !important;
}

#playlist-shuffle-button:hover {
    background: #0191ff !important;
}

#playlist-delete-button:hover {
    background: #c42e3b !important;
}

.tab-menu button.selected {
    background: #FF3558 !important;
}

#dj-button .left {
    background: #00afe4 !important;
}

#dj-button.is-leave .left {
    background: #FF3558 !important;
}

#dj-button.is-quit .left {
    background: #FF3558 !important;
}

.delete-button:hover {
    background: #FF3558 !important;
}

.icon-plug-dj {
    display: none;
}

#chat .icon .icon-p3 {
    background-image: url('') !important;
}

.icon-chat-ambassador + span {
    color: #89be6c !important;
}

.icon-chat-host + span {
    color: #FF3558 !important;
}

.icon-chat-cohost + span {
    color: #FF3558 !important;
}

.icon-chat-manager + span {
    color: #0191ff !important;
}

.icon-chat-bouncer + span {
    color: #01e1ff !important;
}

.icon-chat-dj + span {
    color: #0acc8f !important;
}

.drag-media-box {
    background-color: #FF3558;
}
